# VARIABLES AND DATA TYPES

BASIC

1. Declare a variable x and assign it the value 10. Print its value.

In [2]:
x=10
print(x)

10

2. Store your name in a variable and print it.

In [3]:
a="raghvendra sharma"
print(a)

raghvendra sharma

3. Assign 3.14 to a variable pi and print its type.

In [4]:
pi=3.14
print(type(pi))

<class 'float'>

4. Convert an integer 10 into a string and print its type.

In [5]:
x=10
print(type(x))
x=str(x)
print(type(x))

<class 'int'>
<class 'str'>

5. Get user input for a number and print its square.

In [6]:
x=int(input("enter a digit - "))
print(int(x**2))

25

6. Swap two variables using a third variable.

In [7]:
a=5
b=10
c=a
a=b
b=c
print("a=",a)
print("b=",b)

a= 10
b= 5

7. Swap two variables without using a third variable.

In [8]:
a=5
b=10
a,b=b,a
print("a=",a)
print("b=",b)

a= 10
b= 5

8. Create a variable with a boolean value and print its type.

In [9]:
a=True
print(type(a))

<class 'bool'>

9. Assign multiple values to multiple variables in one line.

In [10]:
x,y,z=2,4,6
print(x)
print(y)
print(z)

2
4
6

10. Find the length of the string "Python Programming" using a variable.

In [11]:
a="Python Programming"
print(len(a))

18

INTERMEDIATE

11. Reverse a string stored in a variable without using a loop.

In [12]:
a="raghvendra"
b=a[::-1]
print(b)

ardnevhgar

12. Extract the first 5 characters from the string "Hello, World!".

In [13]:
a="Hello,World!"
print(a[4])

o

13. Convert a float 12.34 to an integer and a string.

In [14]:
a=12.34
print(type(a))
a=int(a)
print(type(a))
a=str(a)
print(type(a))

<class 'float'>
<class 'int'>
<class 'str'>

14. Check if a variable contains an integer or not.

In [15]:
a=5
b="raj"
c=type(a)
d=type(b)
if type(a)==int:
    print(f"yes a contain integer type {c}")
else:print("false")    
if type(b)==int:
    print(f"yes b contain integer type {d}")
else:print("false")

yes a contain integer type <class 'int'>
false

15. Concatenate two string variables and print the result.

In [16]:
first_name="raghvendra"
last_name="sharma"
full_name=(first_name+" "+last_name)
print(full_name)

raghvendra sharma

16. Take user input as a string and convert it into a list.

In [17]:
a=str(input("enter a string - "))
print(a)
b=list(a)
print(a)

gj
gj

17. Create a list, tuple, set, and dictionary with at least 3 elements each.

In [18]:
a=[5,8,9,7,"raj",6,5]
b=(2,4,5,7,"jai",1)
c={5,8,7,9,5,"ani"}
d={"name":"raghvendra","age":22,"surname":"sharma"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

18. Modify a list inside a tuple without changing the tuple itself.

In [19]:
a=(4,"free",8,9,[4,5,8,"home",7])
print(type(a))
a[4].append(9)
print(a)

<class 'tuple'>
(4, 'free', 8, 9, [4, 5, 8, 'home', 7, 9])

19. Check if a key "age" exists in a dictionary.

In [20]:
a={"name":"raghvendra","age":22,"surname":"sharma"}
if "age" in a:
    print("yes it exists")
else:
    print("no existance")

yes it exists

20. Write a program to count the occurrences of each character in a string.

In [21]:
a="raghvendra sharma"

ADVANCE

21. Create a complex number and print its real and imaginary parts.

In [22]:
a=2+3j
print(a.real)
print(a.imag)

2.0
3.0

22. Convert a list of numbers [1, 2, 3] into a tuple and a set.

In [23]:
a=[1,2,3]
a=tuple(a)
b=set(a)
print(a)
print(b)

(1, 2, 3)
{1, 2, 3}

23. Write a program to check if two variables reference the same object in memory.

In [24]:
a=[1,2,3]
b=a
print(a is b)

True

24. Create a dictionary where keys are numbers and values are their squares.

In [25]:
a={2:2**2,3:3**2,4:4**2,5:5**2}
print(a)

{2: 4, 3: 9, 4: 16, 5: 25}

25. Extract the keys from a dictionary and store them in a list.

In [26]:
a={"name":"raghvendra","age":22,"surname":"sharma"}
b=list(a.keys())
print(b)

['name', 'age', 'surname']

26. Convert a string "100" to an integer, float, and boolean.

In [27]:
a="100"
a=int(a)
b=float(a)
c=bool(a)
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

27. Use type hinting to declare a function that returns the square of a number.

In [28]:
def square(number:int):
    return(number**2)

square(4)

16

28. Demonstrate the difference between is and == using two variables.

In [29]:
a=[2,6,4]
b=[2,6,4]
c=a
print(a is c)
print(a is b)
print(a == b)

True
False
True

29. Write a program to demonstrate the mutability of a list and the immutability of a string.

In [30]:
list=[2,6,4]
string="raj"
string.replace("j","m")
list.append(7)
print(list)
print(string)

[2, 6, 4, 7]
raj

30. Try to modify an element in a string and handle the error using a try-except block.

In [31]:
a="raj"
try:
    a[3]="m"
except Exception as error:
    print(error)

'str' object does not support item assignment